.custom-tab .tab-header-area .tab {
    -fx-background-color: #f2f2f2;
    -fx-text-fill: 333;
    -fx-border-color: #9899E1C9;
}

.custom-tab .tab-header-area .tab:selected {
    -fx-background-color: #e6e6e6;
}

.custom-tab .tab-header-area .tab:hover {
    -fx-background-color: #e6e6e6;
}
